@media (max-width: 980px)
{
    .networksHidden // <nav>
    {
        display: none;
    }

    .networks // <nav>
    {
        margin-top: 2.75%;
        text-align: center;

        .networks__list // <ul>
        {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto 0 auto;
            padding-left: 0;
            border-top-style: solid;
            border-top-width: 3px;
            border-top-color: #e8ac17;
            background-color: rgb(255, 255, 255);

            .networks__listItem // <li>
            {
                margin-top: 8px;
                padding-right: 11px;
                padding-left: 11px;

                .networks__link // <a>
                {
                    display: block;
                    padding-bottom: 8px;
                    color: #e8ac17;
                    font-size: 32px;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    border-bottom-color: rgba(0, 0, 0, 0.03);
                }
            }
        }
    }
}

@media (min-width: 981px)
{
    .networks // <nav>
    {
        margin-top: 2.75%;

        .networks__list // <ul>
        {
            list-style: none;
            display: flex;
            justify-content: center;
            margin: 0;
            padding-left: 0;

            .networks__listItem // <li>
            {
                margin-top: 8px;
                padding-right: 11px;
                padding-left: 11px;

                .networks__link // <a>
                {
                    padding-bottom: 8px;
                    color: #e8ac17;
                    font-size: 32px;
                }
            }
        }
    }
}